entrypoint = "gnx.main.diffusion:train"

[general]
seed = 42
dataset = "hf://uoft-cs/cifar10"

generate-interval = 3000
generate-samples = 64

[data-pipeline.image]
flip-horizontal = true

[eval.fid]
enabled = true
interval = 3000
samples = 50_000

[train]
optimizer = "adamw"
lr = 2e-4
lr_schedule = "constant"
weight_decay = 0.01
iterations = 6000
batch_size = 256

tracker.type = "annealed_ema"
tracker.ema.rate = 0.9999

[diffusion]
nfe = 30
integrator = "accel"

[diffusion.train_schedule]
type = "sigmoid"
sigmoid.num_steps = 1000
sigmoid.beta_start = 0.0001
sigmoid.beta_end = 0.02

[diffusion.eval_schedule]
type = "log_linear"
log_linear.min_sigma = 0.01
log_linear.max_sigma = 35

[model]
type = "unet"

[model.unet]
channels = 128
channel_mults = [1, 2, 2, 2]
attention_levels = [1]

skip_every_block = true
snr_time_embed = true
film_conditioning = false
embed_features = 512
time_features = 64
dropout = 0.1
